@using EternaSite.Models; 
@model Service
@{
    ViewData["Title"] = "Detail";
}

<section id="services" class="services">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-8 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon">@Html.Raw(Model.Icon)</div>
                    <h4><a href="">@Model.Title</a></h4>
                    <p>@Model.Desc</p>
                </div>
            </div>

        </div>

    </div>
</section>